* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

footer>li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>li>i {
    margin-bottom: 10px;
}

.on {
    color: red;
}